*{
  background-color: rgb(14, 73, 83);
  color: white;
}
#playing-field{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#board{
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr)
}
.cell{
  display: flex;
  background-color: rgb(1, 46, 54);
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  /* outline: 2px solid black; */
  border-radius: 21px;
}
.cell-button{
  background-color: rgb(1, 46, 54);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  box-shadow: none;
}
#button-footer{
  margin-top: 8px;
}
#reset-button{
  background-color: rgb(1, 46, 54);
  outline: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
}
.player-button{
  background-color: rgb(1, 46, 54);
  outline: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1rem;
}
h1{
  font-size: 3rem;
}
h2{
  background-color: rgb(1, 46, 54);
  font-size: 4rem;
}
h3{
  margin-top: -20px;
  font-size: 1.5rem;
}

@media (max-width: 600px){
  .cell{
    display: flex;
    background-color: rgb(1, 46, 54);
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 21px;
  }
  .cell-button{
    background-color: rgb(1, 46, 54);
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: none;
  }
}